body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3366;
  text-align:left;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:10px;
  width:220px;
  height:28px;
  color:#FF3366;
  text-align:left;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:83px;
  width:140px;
  height:46px;
  font-size:20px;
  color:#000000;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:139px;
  width:280px;
  height:19px;
  color:#000000;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:168px;
  width:206px;
  height:25px;
}
#u244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:247px;
  width:61px;
  height:21px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:247px;
  width:60px;
  height:21px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:63px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:268px;
  width:5px;
  height:48px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:316px;
  width:74px;
  height:58px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:315px;
  width:74px;
  height:58px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:62px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:268px;
  width:5px;
  height:47px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:212px;
  width:206px;
  height:25px;
}
#u251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:268px;
  width:153px;
  height:37px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:149px;
  word-wrap:break-word;
}
