body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:516px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3366;
  text-align:left;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:10px;
  width:220px;
  height:28px;
  color:#FF3366;
  text-align:left;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:83px;
  width:140px;
  height:46px;
  font-size:20px;
  color:#000000;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:139px;
  width:280px;
  height:19px;
  color:#000000;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:168px;
  width:107px;
  height:19px;
  color:#000000;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:165px;
  width:175px;
  height:25px;
}
#u232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:217px;
  width:61px;
  height:21px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:217px;
  width:60px;
  height:21px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:63px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:238px;
  width:5px;
  height:48px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:286px;
  width:74px;
  height:58px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:295px;
  width:74px;
  height:58px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:62px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:238px;
  width:5px;
  height:47px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:175px;
  width:111px;
  height:5px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:149px;
  width:74px;
  height:58px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  word-wrap:break-word;
}
